---
title: Contact
---

{% include header.html class='contact' %}
<div class="container">
	<div class="onecol">
        <br>
        	<header>
        		<h3>Send Us a Message</h3>
        	</header>
        	
        	<form action="mailto:michelle.wilkerson@tufts.edu?subject=Web&nbsp;Submission" enctype="text/plain" method="POST">
        		<div class="row half">
        			<div class="12u">
        				<textarea name="body" placeholder="Message" class="rounded"></textarea>
        			</div>
        		</div>
        		<div class="row">
        			<div class="12u">
        				<input type="submit" value="Send Message" class="button submit">
        			</div>
        		</div>
        	</form>
        <br><br>
    </div>
</div>
{% include footer.html %}