		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="12u">
						
						<!-- Contact -->
							<section class="contact">
								    <img src="{{site.url}}/images/LogoW.png" width="150px"></img>
								<p>We are always looking for partners, students, and collaborators interested in working on new and exciting projects. <a href="#">Contact Us</a></p>
								<ul class="icons">
									<!--<li><a href="#" class="fa fa-twitter solo"><span>Twitter</span></a></li>-->
									<li><a href="http://www.github.com/ExTechLab" class="fa fa-github solo"><span>Github</span></a></li>
									<!--<li><a href="#" class="fa fa-google-plus solo"><span>Google+</span></a></li>-->
									<!--<li><a href="#" class="fa fa-pinterest solo"><span>Pinterest</span></a></li>
									<li><a href="#" class="fa fa-dribbble solo"><span>Dribbble</span></a></li>
									<li><a href="#" class="fa fa-linkedin solo"><span>Linkedin</span></a></li>-->
								</ul>
							</section>
						
						<!-- Copyright -->
							<div class="copyright">
								<ul class="menu">
									<li>&copy; ExTech Lab. All rights reserved.</li>
									<li>Design adapted from: <a href="http://html5up.net/">HTML5 UP</a></li>
									<li>Images: <a href="#">Phil Gay, Pearl Emmons</a></li>
								</ul>
							</div>
						
					</div>
				
				</div>
			</div>
		</div>
	</body>
</html>